.container {
  background: black;
}
.container__text-center {
  border: 1px solid red;
  background-color: silver;
  text-align: center;
  border-radius: 30px;
}

.container__img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  background: red;
  height: 500px;
  border-radius: 50%;
}

.info {
  background: saddlebrown;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  background-color: silver;
  /* margin: 10px; */
  border-radius: 40px;
}

.block1__info {
  text-align: center;
  flex-wrap: wrap;
  background-color: aqua;
  margin: 10px 0px;
  width: 50%;
  border-radius: 25px;
  min-width: 465px;
}

.block2__info {
  text-align: center;
  background-color: rgb(33, 86, 165);
  margin: 10px 0px;
  width: 50%;
  border-radius: 25px;
  min-width: 335px;
}

.URL {
  border: 1px solid red;
  background-color: aquamarine;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.URL a {
  color: black;
  font-size: larger;
  text-decoration: none;
  border: 5px solid black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 25px;
}
